body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #020617;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #1e293b, #020617);
}

.hero h1 {
  font-size: 3rem;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background: #22c55e;
  color: black;
  cursor: pointer;
  border-radius: 8px;
}

section {
  padding: 60px 20px;
  text-align: center;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.1);
}
